<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Manager Area -->
  <% if(tag){%>
   <% tag.forEach(function(tag){ %>
    <% if(tag.google_manager){ %>
      <%- tag.google_manager %>
    <% } %>   
  <!-- End Google Manager Area -->
  <!-- Google Analytic Area -->
    <% if(tag.google_analytic){ %>
      <%- tag.google_analytic %>
    <% } %>   
  <!-- End Google Analytic Area -->
  <!-- Google Verification <meta> -->
    <% if(tag.google_verification){ %>
      <%- tag.google_verification %>
    <% } %>  
    <% }) %> 
   <% } %> 
  <%- include('../header') %>
    <title>3BB</title> 
</head>
<body class="landing-page sidebar-collapse">
  <!-- Google Manager Area -->
  <% if(tag){%>
    <% tag.forEach(function(tag){ %>
     <% if(tag.google_manager){ %>
       <%- tag.google_manager %>
     <% } %>  
    <% }) %>
  <% } %>  
  <!-- End Google Manager Area -->
      <% if(locals.isLoggedIn) {%>
        <%- include('../navbar') %>
      <% } %>
    <div class="wrapper">
      <% if(bg != ''){ %> 
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/<%= bg %>');">
        </div>
        <div class="content-center">
          <div class="container">         
            <h1 class="title"><%= data %></h1>
          </div>
          <% } %>
          <% if(locals.isLoggedIn) {%>
            <% if(createBtn === 'on'){ %> 
            <div class="buttons">
              <a href="/admin/add" class="btn btn-primary">เขียนบทความ</a>
            </div>
          <% } %>
          <% } %>
        </div>
      </div>
        <div class="content-center">
        </div>
      </div>
      <div class="section section-about">
        <% blogs.forEach(function(blog){ %>
        <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto text-center" style="padding: 50px">
              <% if(locals.isLoggedIn) {%>
                <div class="text-right">
                  <a href="/admin/edit/<%= blog.id %>" class="btn btn-primary">แก้ไข</a>
                  <a href="/admin/delete/<%= blog.id %>" class="btn btn-danger">ลบ</a>
                </div>   
                <% }%>
              <img src="/images/<%= blog.id %>/headers/<%= blog.img_logo %>" height="100px" >
              <h2 class="title pt-2 mb-2"><%=blog.title %></h2>
              <div class="ml-auto mr-auto text-center mb-4" id="btn">
              </div>
              <h5 class="description"><%=blog.subtitle %></h5>
            </div>
          </div>
          <% if(!blog.img_banner1 == ''){%>
          <div class="section" id="carousel">
            <div class="container">
              <div class="text-center">
                <h4>Highlights</h4>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                  <div id="carouselIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                        <img class="d-block" src="/images/<%= blog.id %>/banners/<%= blog.img_banner1 %>" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block" src="/images/<%= blog.id %>/banners/<%= blog.img_banner2 %>" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block" src="/images/<%= blog.id %>/banners/<%= blog.img_banner3 %>" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                      <i class="now-ui-icons arrows-1_minimal-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                      <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <div id="info-areas">
              <div class="tim-title"> 
                  <h3 class="title title-img">3BB Packages | แพ็กเกจ 3BB</h3>
              </div>
            <div class="d-flex justify-content-center row">
              <% packages.forEach(function(packages){ %>
              <div class="col-lg-3 col-md-3 mt-4 h-100">
                <img class="d-block pk-raised" src="/images/<%= packages.id %>/packages/<%= packages.packageImg %>">
                <h5 class="mt-4 mb-0" style="font-weight:bolder;"> <%= packages.packageName %></h5>
                <p><%= packages.packageDesc %></p>
                <% if(packages.packagePrice){ %> 
                <p>ราคาเริ่มต้น <%= packages.packagePrice %> บาท/เดือน</p>
                <% } %> 
                <a href="<%= blog.line_url%>"><button class="btn btn-info">สมัครบริการที่นี่</button></a>
              </div>
              <% }) %>
            </div>  
        </div>
        <% promo.forEach(function(promo){ %>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
            <div class="row">
              <div class="col-md-6">
                <div class="image-container"><img src="/images/<%= promo.id %>/promos/<%= promo.promoImg %>" alt="" srcset=""></div>
              </div>
              <div class="col-md-6">
                <!-- First image on the right side, above the article -->
                <h3 class="title title-img">3BB Promotion | โปรโมชั่น 3BB </h3>
                <%- promo.promoDesc %>
                <p>ตรวจสอบพื้นที่ 3BB <a href="<%= blog.line_url%>">คลิกที่นี่ได้เลย</a></p>
              </div>
            </div>
          </div>
            <% }) %>
        <!-- card info -->
        <% blogs.forEach(function(blog){ %>
          <% if(blog.cardinfo){ %>
          <div class="row mt-5">
            <div class="col-md-4">
              <div class="card card-info" style="border-radius: 15px">
                <div class="card-body">
                  <h5 class="text-center mb-2"><i class="fas fa-display fa-3x"></i></h5>
                  <h5 class="card-title mb-2 text-muted text-center mt-3">5 ขั้นตอนสมัครใช้งาน 3BB ด่วน</h5>
                  <p class="card-text">1. แอดไลน์ <br> 2. แชร์พื้นที่เพื่อตรวจสอบ <br> 3. รอรับรหัสลูกค้า <br>
                  4. ชำระค่าบริการ <br> 5. รอช่างนัดวันติดตั้ง</p>
                  <p style="font-size: 16px;">สนใจสมัครด่วน <a href="<%= blog.line_url%>" class="card-link">คลิกที่นี่</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-info" style="border-radius: 15px">
                <div class="card-body">
                  <h5 class="text-center mb-2"><i class="fas fa-circle-info fa-3x"></i></h5>
                  <h5 class="card-title  mb-2 text-muted text-center mt-3">เงื่อนไขสมัครใช้บริการ 3BB</h5>
                  <p class="card-text">1. สมัครเน็ตบ้าน 3BB ผู้ใช้บริการชำระค่าธรรมเนียมแรกเข้าตามโปรโมชั่น <br>
                  2. รับสิทธิ์ยืมอุปกรณ์ GPON OUT มูลค่า 2,200 บาท สำหรับแพ็กเกจสมัคร 3BB FIBER 100/100M เป็นต้นไปเฉพาะพื้นที่ที่สามารถให้บริการได้เท่านั้น <br>
                  3. กรุณาตรวจสอบพื้นที่ให้บริการก่อน <br>
                  4. บริษัทฯ ขอสงวนสิทธิ์ในการให้บริการกรณีที่ความเร็วเชื่อมต่อต่ำกว่าความเร็วที่ระบุไว้ในแพ็กเกจที่เลือกใช้บริการ อันเนื่องมาจากปัจจัยหรือข้อจำกัดทางเทคนิคและโครงข่ายรวมถึงจำนวนผู้ใช้บริการในขณะนั้น</p>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card card-info" style="border-radius: 15px">
              <div class="card-body">
                <h5 class="text-center mb-2"><i class="fas fa-star fa-3x"></i></h5>
                <h5 class="card-title  mb-2 text-muted text-center mt-3">10 เหตุผลที่ต้องเลือก 3BB</h5>
                <p class="card-text">1. อินเทอร์เน็ตเป็นไฟเบอร์ออฟติดแท้ 100% <br>
                2. มีทีมช่างและพนักงานให้คำแนะนำ และบริการหลังการขายตลอด 24 ชั่วโมง <br>
                3. ไม่มีค่าใช้งานสำหรับการซ่อมบำรุงการใช้งาน <br>
                4. มีสิทธิพิเศษมากมายเฉพาะลูกค้า 3BB เท่านั้น <br>
                5. สมัครใช้งานง่าย ติดตั้งรวดเร็ว <br>
                6. มีแอพพลิเคชั่น 3BB Member รองรับกาชำระค่าบริการ ทำให้สะดวกและรวดเร็ว ตรวจสอบง่าย <br>
                7. ดูแลการติดตั้งด้วยช่างที่มีประสบการณ์ทำงาน และมีความรู้ด้านอินเทอร์เน็ตสูง <br>
                8. มีโครงข่ายให้บริการได้ทั้วประเทศ <br>
                9. ใช้งานได้ไม่อั้น ไม่ลดความเร็วตลอดการใช้งาน <br>
                10. แจ้งปัญหาการใช้งานได้ง่ายโดยผ่าน 3BB Member หรือ Call Center 1530 ตลอด 24 ชั่วโมง</p>
              </div>
            </div>
          </div>
        </div>
        <%}})%>
        
    </div>
    <%- include('footer') %> 
    <% }) %>
    <%- include('../script') %>
</body>
</html>
<script type="text/javascript">
  $(document).ready(()=>{
    '<%blogs.forEach(function(blog){%>'
      $telNumber = '<%=blog.telNum%>'
      $line_url = '<%= blog.line_url%>'
    '<%})%>'
    $1 = $telNumber.substr(0,3);
    $2 = $telNumber.substr(3,3);
    $3 = $telNumber.substr(6,4);
    $text = '<a href="tel:'+$telNumber+'"><button class="btn btn-warning"><i class="fa-solid fa-phone mr-2"></i>'+$1+'-'+$2+'-'+$3+'</button></a> \
             <a href="'+$line_url+'"><button class="btn btn-success"><i class="fab fa-line fa-lg mr-2"></i>แอดไลน์สอบถามฟรี</button></a>'
    $('#btn').html($text);
  })
</script>