<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../header') %>
    <title>รายชื่อ Google Lists</title>
</head>
<body class="landing-page sidebar-collapse" style="padding-top: 80px;">
    <%- include('../navbar') %>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>รายชื่อ Google Lists</p>
            </div>
            <div class="col ">
                <input class="form-control mb-1 search-bar" id="userInput" type="text" placeholder="Search..">
            </div>
        </div>  
    <table class="table table-striped table-bordered table-sm" id="table">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>ชื่อพนักงาน</th>
                <th>Area</th>
                <th class="text-center">Google Analysis</th>
                <th class="text-center">Google Manager</th>
                <th class="text-center">Google Verification</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="userTable">
            <% results.forEach(function(res, i){ %> 
            <tr id="<%= res.id %> " style="text-align: center;vertical-align:middle;font-size:13px;color:#000000;line-height: 18px;">
                    <td><%= i+1 %> </td>    
                    <td class="text-left"><%= res.firstName+' '+res.lastName %></td>
                    <td class="text-left"><%= res.area %></td>
                    <% if(res.google_analytic){ %> 
                        <td class="p-1"><i class="fa-solid fa-check fa-lg" style="color: rgb(0, 110, 0); vertical-align:middle;"></i></td>
                    <% }else{ %>
                        <td class="p-1"><i class="fa-solid fa-xmark fa-lg" style="color: rgb(192, 0, 0); vertical-align:middle;"></i></td>
                    <% } %> 
                    <% if(res.google_manager){ %> 
                        <td class="p-1"><i class="fa-solid fa-check fa-lg" style="color: rgb(0, 110, 0); vertical-align:middle;"></i></td>
                    <% }else{ %>
                        <td class="p-1"><i class="fa-solid fa-xmark fa-lg" style="color: rgb(192, 0, 0); vertical-align:middle;"></i></td>
                    <% } %> 
                    <% if(res.google_verification){ %> 
                        <td class="p-1"><i class="fa-solid fa-check fa-lg" style="color: rgb(0, 110, 0); vertical-align:middle;"></i></td>
                    <% }else{ %>
                        <td class="p-1"><i class="fa-solid fa-xmark fa-lg" style="color: rgb(192, 0, 0); vertical-align:middle;"></i></td>
                    <% } %> 
                <td class="td-actions text-center p-0 pr-1">
                    <button type="button" id="view" data-target="#view" rel="tooltip" class="btn btn-success btn-sm view m-0" style="height:25px; width:auto">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
        <!-- Modal -->
        <% results.forEach(function(res){ %> 
        <form action="/admin/edit-tag/<%= res.id %>" method="post">
            <div id="<%= res.id %>" class="modal fade" tabindex="-1" role="dialog" aria-haspopup="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-center"> 
                            <div>
                                <h5 class="modal-title" style="color: black;">Google Tag</h5>
                            </div>  
                        </div>
                        <div class="modal-body">
                            <p>Google Analytic</p>
                            <textarea name="google_analytic" id="" cols="70" rows="5"><%= res.google_analytic %></textarea>
                            <p>Google Manager</p> 
                            <textarea name="google_manager" id="" cols="70" rows="5"><%= res.google_manager %></textarea>
                            <p>Google Verfication</p>
                            <textarea name="google_verification" id="" cols="70" rows="5"><%= res.google_verification %></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                            <input type="hidden" value="">
                            <div class="d-flex justify-content-center submit" id="submit">
                                <input type="submit" class="btn btn-primary" value="แก้ไข">
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </form>
        <% }) %> 
        <!-- End Modal -->
</div>
</body>
<%- include('../script') %>
<script type="text/javascript">
    $(document).ready(()=>{
          var $nav = $('.fixed-top');
              $nav.removeClass('navbar-transparent')

              $("#userInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#userTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
      });

    $(".view").click(function() {
        var info = $(this).parent().closest('tr')
        //console.log(info.attr('id'))
        for(var i = 1; i<=1000; i++){
            if(info.attr('id') == i){
                $('#'+i).modal("show")
            }
        }
    });

</script>
</html>