<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../header') %>
    <title>Log Page</title>
</head>
<body class="landing-page sidebar-collapse" style="padding-top: 80px; background-color:rgb(237, 235, 235);">
    <%- include('../navbar') %>
        <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="height: 500px;">
                <div class="d-flex justify-content-center">
                <form action="/admin/adduser" method="POST" novalidate>
                    <div class="card-header text-center" style="padding-top: 70px;">
                        <div class="logo-container">
                          <p>ลงทะเทียนบัญชีพนักงาน</p>
                        </div>
                    </div>
                    
                        <div class="card-body">
                            <div class="input-group no-border input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="ชื่อผู้ใช้งาน" name="username" value="<%= (locals.old_data) ? old_data.username : ''%>" required>
                            </div>
                            <div class="input-group no-border input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="now-ui-icons objects_key-25"></i>
                                    </span>
                                </div>
                                <input type="password" placeholder="รหัสผ่าน" class="form-control" name="password" required/>
                            </div>
                            <div class="form-group">
                                <label for="selectRole">Select Role</label>
                                <select class="form-control" id="selectRole" name="role">
                                  <option value="Sale">Sale</option>
                                  <option value="Admin">Admin</option>
                                </select>
                              </div>
                            <% if (locals.register_error){
                                register_error.forEach(function(error_msg){ %>
                                <div class="alert alert-danger rounded" role="alert"><%= error_msg%></div>
                            <% })} %>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">ลงทะเบียน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 table-scroll">
        <table class="table card-table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Username</th>
                    <th>ชื่อจริง</th>
                    <th>นามสกุล</th>
                    <th>Role</th>
                    <th class="text-right">Actions</th> 
                </tr>
            </thead>
            <tbody>
                <% results.forEach(function(res){ %> 
                <tr>
                    <td class="text-center" style="height: 40px;"><%= res.id %></td>
                    <td><%= res.username %></td>
                    <td><%= res.firstName %></td>
                    <td><%= res.lastName %></td>
                    <td><%= res.role %></td>
                    <td class="td-actions text-right p-0 pr-1">
                        <a href="/admin/profile-lookup/<%= res.id%>"><button type="button" rel="tooltip" class="btn btn-info btn-sm">
                            <i class="now-ui-icons users_single-02"></i>
                        </button></a>
                        <a href="/admin/profile-edit/<%= res.id%>">
                        <button type="button" rel="tooltip" class="btn btn-success btn-sm">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                        </button></a>
                        <a href="/admin/delete-account/<%= res.id%>">
                        <button type="button" rel="tooltip" class="btn btn-danger btn-sm">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button></a>
                    </td>
                </tr>
               <% }) %>
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>
</body>

<%- include('../script') %> 
<script type="text/javascript">
    $(document).ready(()=>{
          var $nav = $('.fixed-top');
              $nav.removeClass('navbar-transparent')
      });
  </script>
</html>