<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header') %>
    <title>Weblists Page</title>
  </head>
  <body class="landing-page sidebar-collapse" style="padding-top: 80px">
    <%- include('../navbar') %>
    <div class="container">
      <div class="row">
        <div class="col">
          <p>รายชื่อ Website</p>
        </div>
        <div class="col">
          <input
            class="form-control mb-1 search-bar"
            id="userInput"
            type="text"
            placeholder="Search.."
          />
        </div>
      </div>
      <table class="table table-striped table-bordered table-sm" id="table">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>รหัสพนักงาน</th>
            <th>ชื่อ</th>
            <th>Cluster</th>
            <th>จังหวัด</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody id="userTable">
          <% results.forEach(function(res,i){ %>
          <tr>
            <td class="text-center"><%= i+1 %></td>
            <td><%= res.emp_id %></td>
            <td><%= res.firstName+' '+res.lastName %></td>
            <td><%= res.area %></td>
            <td><%= res.province %></td>
            <td class="td-actions text-center p-0 pr-1">
              <a href="/<%= res.emp_id%>"
                ><button
                  type="button"
                  rel="tooltip"
                  class="btn btn-info btn-sm m-0"
                  style="height: 25px"
                >
                  <i class="fa-solid fa-eye"></i></button
              ></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>

  <%- include('../script') %>
  <script type="text/javascript">
    $(document).ready(() => {
      var $nav = $(".fixed-top");
      $nav.removeClass("navbar-transparent");

      $("#userInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#userTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      });
    });
  </script>
</html>
